body {
    background: #252525;
    font-family: monospace;
}

#section1 {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 300px;
    transform: translate(15px, 0);
}

.btns {
    background: #3498db;
    background-image: linear-gradient(to bottom, #FA7268, #C62368);
    border-radius: 14px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btns:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #ad4b44, #971a4e);
    text-decoration: none;
    cursor: pointer;
  }

  #container1 {
    display: flex;
    transform: translate(15px, 0);
  }

  .displayScore {
    color: white;
    font-size: 50px;
    margin: 0;
  }

  .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 10px 0 10px;
  }

  .names {
    color: white;
    font-size: 60px;
  }